# Large Data Files
*.csv filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
# Jupyter Notebook
*.ipynb text
*.ipynb filter=nbstripout
*.ipynb diff=jupyternotebook
.ipynb_checkpoints/* linguist-generated=true
# Python
*.py text diff=python
*.py linguist-language=Python
*.pyi text diff=python
*.pyx text diff=python
requirements.txt text
requirements/*.txt text
constraints.txt text
constraints/*.txt text
# Text files
*.txt text
*.md text
*.rst text
*.json text
*.yaml text
*.yml text
# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
# Make sure Windows/Linux line endings are normalized
* text=auto eol=lf
